<style>
    div.app-spinner {
        position: fixed;
        top: 50%;
        left: 51%;
    }
</style>

<div class="container">
    <<%= selector %>-my-app> 
        <div class="app-spinner">
            <i class="fa fa-circle-o-notch fa-spin fa-5x" aria-hidden="true"></i> 
        </div>
    </<%= selector %>-my-app>

    <noscript>
      <div style="display:inline-block;font-size:24px;font-family:'Roboto',sans-serif;position:relative;">
                    <img src="~/images/angularcore2.png" alt="Angular Core Logo" style="max-width:8%;height:auto;vertical-align: middle;"/>
                    Sorry, JavaScript needs to be enabled to run this application.
                </div>
    </noscript>
</div>

<environment names="Development">
    <script src="~/dist/polyfills.dll.js" asp-append-version="true"></script> 
    <script src="~/dist/vendor.dll.js" asp-append-version="true"></script>
</environment>

<script src="~/dist/@ViewBag.MainJs" asp-append-version="true"></script>