
    <div fxLayout="row" fxLayoutAlign="center center" style="height: 75vh">
        <div class="content">
            <div class="title m-b-md">
                <img src="../../assets/images/angularcore2.png" class="logo" /> .net core & angular
            </div>
            <div fxHide.lt-sm class="links">
                <a md-button href="https://www.microsoft.com/net/core">.NET Core</a>
                <a md-button href="https://angular.io/">Angular</a>
                <a md-button href="https://material.angular.io/">Material</a>
                <a md-button href="https://github.com/ty53ler">GitHub</a>
                <a md-button href="/swagger">Swagger</a>
                <a md-button href="/todo">API Example</a>
            </div>
        </div>
    </div>