@import "../../styles/styles.scss";
@import "../../styles/_variables.scss";

            .content {
                text-align: center;
            }

            .logo {
                max-width:8%;
                height:auto;
                vertical-align: middle;
            }

            .title {
                display: inline-block;
                font-size: 4vw;
                font-family: 'Roboto', sans-serif;
                position: relative;

                @media #{$mobile-only} {
                         font-size: 8vw;
                    }
            }


            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }